/*

## Style Hints:

Body Font Size = 12px
	 Line Height = 17px
	 Font Family = "Times New Roman", serif
	 Font Color = #656565

Link Hover Color = #20222a

*/

body {
  border: 1px solid #665544;
  margin: 10px;
}

.photos {
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-family: Times New Roman;
  color: #656565;
  line-height: 0.1em;
}

h3 {
  font-family: Times New Roman;
  color: #656565;
}

h5, p {
  font-family: Times New Roman;
  color: #656565;
}

.about {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.brands {
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

img {
  border: 10px;
  color: gray;
}


