<h1>
  <span class="blue">G</span><span class="red">o</span><span class="goldenrod">g</span><span class="blue">g</span><span class="green">l</span><span class="red">e</span>
</h1>

<form method="" action="">
  <label>Search:
    <input type="text" name="search_term" placeholder="what are you searching for" required>
 </label>

 <label>Safe search?
     <input type="checkbox" name="safe_search">

 </label>

 <label>Results per page:
      <select name="results_per_page">
         <option value="25">25</option>
         <option value="25">50</option>
         <option value="25">100</option>
      </select>
 </label>

 <input type="hidden" value="travis.vanderhoop@gmail.com" name="user_email">


 <input type="submit" value="Search!">

 <input type="date" name="date">

 <input type="file" value="file_name" name="file_name">

 <label>Rant text:
     <textarea name="rant_text" col="30" row="10"></textarea>
 </label>

 <label>Password:
     <input type="password" name="passcode">
 </label>

</form>

