
<!doctype html>
<html lang='en'>
  <head>
    <meta charset="utf-8" />
    <title>Full House App</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  </head>
  <body>
    <%= yield %>
  </body>
</html>
