<div class="box">
  <form action="/entries" method="POST">
    <label>Author:
       <input type="text" name="author">
    </label>
    <label>Photo:
       <input type="text" name="photo_url">
    </label>
    <label>Date:
       <input type="date" name="date_taken">
    </label>

    <label>
       <input type="submit" value="create entry">
    </label>

  </form>
</div>
