
<div class="box">

<form action="/mumbles" method="POST" >

   <textarea cols=20 rows=40 name="mumble">

   </textarea>

    <label>Image:
       <img src="url" name="image">
    </label>

    <label>Date:
       <input type="date" name="date">
    </label>

   <label>Tags
       <input type="text" name="tags">
   </label>

   <label>Email
       <input type="text" name="author_email">
   </label>

   <label>Handle
       <input type="text" name="handle">
   </label>

   <label>Thumbnail
       <image type="url" name="author_thumbnail">
   </label>

   <label>
      <input type="text" name="likes">

   </label>

   <button>Save</button>

</form>
</div>



    <!--/text: "Thinking about time, and what it does to us..."
    image: "http://goo.gl/scTB1I"
    date: "2014-11-03"
    tags: "#thuglife #beauty"
    author_email: "kristin.eugenio@generalassemb.ly"
    author_handle: "eugenius"
    author_thumbnail: "http://photos-d.ak.instagram.com/hphotos-ak-xpf1/10554197_777637282292435_572425562_a.jpg"
    likes: 1 -->
