<!doctype>
<html>
<head>
     <title>Happy Holidays</title>
</head>
<body>
     <h1>Hello from views/date.erb</h1>
     <% date %> #this execute but does not display
     Today's date is <%= @date %> #this executes and displays the ruby code
</body>
</html>
