<h1>The Great Hall of Cheeses</h1>

<div class="users collection">

  <% @cheeses.each do |cheese| %>
    <div class="cheese">
      <ul>
        <li><%= cheese %></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  <% end %>
</div>



