<h1><%= @header %></h1>

<ul>
  <li><a href="/instructors/pj"><%= @pj %></a></li>
  <li><a href="/instructors/phil"><%= @phil %></a></li>
  <li><a href="/instructors/travis"><%= @travis %></a></li>
</ul>





